*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
.claude

scripts/tools/

# Build artifacts
*.apk

scripts/generate_code.py
